
.seramo_registerd_by{
	font-size: 0.6em;
	vertical-align: top;	
}
.seramo_registerd_type{

	background: #5C9CCC;
	padding:0.4em;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
}



#TB_window #seramo-thickbox-content a:link.button-primary {
    color: #FFFFFF;
}
#TB_window #seramo-thickbox-content a:visited.button-primary {
    color: #FFFFFF;
}
#TB_window #seramo-thickbox-content a:hover.button-primary {
    color: #FFFFFF;
}
#TB_window #seramo-thickbox-content a:active.button-primary {
    color: #FFFFFF;
}
#TB_window #seramo-thickbox-content a:focus.button-primary {
    color: #FFFFFF;
}

